@font-face{
  font-family:'NanumSquareB';
  src: url(../font/nanumsquareb.eot);
  src: url(../font/nanumsquareb.eot?#iefix) format('embedded-opentype'),
       url(../font/nanumsquareb.woff) format('woff'),
       url(../font/NanumSquareBold.ttf) format('truetype');
}

body {
  font-family: NanumSquareB, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
.pswp__caption {
  /* position: absolute;
  bottom:100px; */
}
.pswp__ui--fit .pswp__caption {
  background-color:#000
}
.pswp__caption__center {
  color:#fff;
  font-size:16px;
  text-align:center;
  line-height:1.3;
  max-width:inherit;
  padding:10px 36px;
}
@media (max-width:1024px) {
  .pswp__caption__center {
    display:none;
  }
}